<main class="min-h-screen w-full bg-white text-gray-700" x-data="layout">
    <!-- header page -->
    <header class="flex w-full items-center justify-between  bg-purple-blue-500 p-2 text-white">
        <!-- logo -->
        <div class="flex items-center space-x-2">
            <button type="button" class="text-3xl pt-1.5" @click="asideOpen = !asideOpen"><ion-icon name="menu-outline"></ion-icon></button>
            <div>SecurePay</div>
        </div>

        <!-- button profile -->
        <div>
            <%= link_to "/users/sign_out", method: :delete, class: "text-2xl h-9 w-9 overflow-hidden rounded-full" do %>
              <ion-icon name="log-out-outline"></ion-icon>
            <% end %>

            <div class="absolute right-2 mt-1 w-48 divide-y  rounded-md  bg-white"
                x-show="profileOpen" x-transition>
            </div>
        </div>
    </header>

    <div class="flex">
        <aside class="flex w-72 flex-col space-y-2 bg-white p-2" style="height: 90.5vh"
            x-show="asideOpen">
            <%= link_to "/", class: "flex items-center space-x-1 rounded-md px-2 py-3 hover:bg-gray-100 hover:text-blue-600" do %>
              <span class="text-2xl pt-1.5"><ion-icon name="home-outline"></ion-icon></span>
              <span>Home</span>
            <% end %>

            <%= link_to "/transfers", class: "flex items-center space-x-1 rounded-md px-2 py-3 hover:bg-gray-100 hover:text-blue-600" do %>
              <span class="text-2xl pt-1.5"><ion-icon name="card-outline"></ion-icon></span>
              <span>Payments</span>
            <% end %>

            <%= link_to "/my_account", class: "flex items-center space-x-1 rounded-md px-2 py-3 hover:bg-gray-100 hover:text-blue-600" do %>
              <span class="text-2xl pt-1.5"><ion-icon name="person-outline"></ion-icon></span>
              <span>My account</span>
            <% end %>
          
          <%= link_to "/users/edit", class: "flex items-center space-x-1 rounded-md px-2 py-3 hover:bg-gray-100 hover:text-blue-600" do %>
            <span class="text-2xl pt-1.5"><ion-icon name="settings-outline"></ion-icon></span>
            <span>Settings</span>
          <% end %>
        </aside>

        <!-- main content page -->
<div class="w-full h-auto min-h-screen border-l-2 border-dark-grey-900 p-4">

<div class="bg-white">    
    <div class="container w-48 flex flex-col mx-auto bg-white rounded-lg pt-12 my-5">
        <div class="flex justify-center w-full h-full my-auto xl:gap-14 lg:justify-normal md:gap-5 draggable">
            <div class="flex items-center justify-center w-full lg:p-12">
                <div class="flex items-center xl:p-8">
                    <div class="flex w-48 flex-col h-full pb-6 text-center bg-white rounded-3xl">

                      <h3 class="mb-3 text-4xl font-bold text-dark-grey-900">My account</h3>
                        <p class="mb-10 text-grey-700">View my sensitive data</p>
                        <p class="mb-2 text-sm text-start text-grey-900">My email</p>
                      <p class="flex items-center w-full px-5 py-4 mr-2 text-sm font-medium outline-none focus:bg-gray-200 mb-7 bg-gray-100 text-dark-grey-900 rounded-2xl"><%= current_user.email %></p>

                      <div id="accountSection" class="flex flex-col">
                          <p class="mb-2 text-sm text-start text-grey-900">My card number</p>

                          <p id="accountNumber" class="flex items-center w-full px-5 py-4 mr-2 text-sm font-medium outline-none focus:bg-gray-200 mb-2 bg-gray-100 text-dark-grey-900 rounded-2xl">
                              **************<%= current_user.card_number.slice(13..15) %>
                          </p>
                          <div class="flex h-12">
                          <button id="viewAccountBtn" class="mb-2 text-sm leading-none text-red-600 transition hover:underline duration-300 ml-auto">
                              View Account
                          </button>
                          <div id="countdown" style="display: none;" class="flex items-center text-red-600 text-start"></div>
                          </div>
                      </div>

                      <div id="idSection" class="flex flex-col">
                        <p class="mb-2 text-sm text-start text-grey-900">My ID number</p>
                        <p id="idNumber" class="flex items-center w-full px-5 py-4 mr-2 text-sm font-medium outline-none focus:bg-gray-200 mb-2 bg-gray-100 text-dark-grey-900 rounded-2xl">
                            <%= current_user.id_number.slice(0, 2) %>**********<%= current_user.id_number.slice(7, 8) %>
                        </p>
                        <div class="flex h-12">
                        <button id="viewIdBtn" class="mb-2 text-sm text-start leading-none text-red-600 transition hover:underline duration-300 ml-auto">
                            View ID
                        </button>
                        <div id="idCountdown" style="display: none;" class="flex text-start items-center text-red-600"></div>
                        </div>
                    </div>
              </div>
            </div>
        </div>
    </div>
</div>
</div>
        
    </div>
</main>

<script>
    document.addEventListener("alpine:init", () => {
        Alpine.data("layout", () => ({
            profileOpen: false,
            asideOpen: true,
        }));
    });

</script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var accountVisible = false;
        var accountCountdown = 30;
        var accountNumberElement = document.getElementById("accountNumber");
        var viewAccountBtn = document.getElementById("viewAccountBtn");
        var countdownElement = document.getElementById("countdown");

        viewAccountBtn.addEventListener("click", function () {
            accountVisible = true;
            accountNumberElement.innerHTML = "<%= current_user.card_number %>";
            viewAccountBtn.style.display = "none";
            countdownElement.style.display = "flex";

            var countdownInterval = setInterval(function () {
                accountCountdown--;
                countdownElement.innerText = accountCountdown;

                if (accountCountdown <= 0) {
                    clearInterval(countdownInterval);
                    accountVisible = false;
                    accountNumberElement.innerHTML = "**************<%= current_user.card_number.slice(14..15) %>";
                    viewAccountBtn.style.display = "inline-block";
                    countdownElement.style.display = "";
                    accountCountdown = 30;
                }
            }, 1000);
        });
    });
</script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var idVisible = false;
        var idCountdown = 30;
        var idNumberElement = document.getElementById("idNumber");
        var viewIdBtn = document.getElementById("viewIdBtn");
        var idCountdownElement = document.getElementById("idCountdown");

        viewIdBtn.addEventListener("click", function () {
            idVisible = true;
            idNumberElement.innerHTML = "<%= current_user.id_number %>";
            viewIdBtn.style.display = "none";
            idCountdownElement.style.display = "flex";

            var idCountdownInterval = setInterval(function () {
                idCountdown--;
                idCountdownElement.innerText = idCountdown;

                if (idCountdown <= 0) {
                    clearInterval(idCountdownInterval);
                    idVisible = false;
                    idNumberElement.innerHTML = "<%= current_user.id_number.slice(0, 2) %>**********<%= current_user.id_number.slice(7, 8) %>";
                    viewIdBtn.style.display = "inline-block";
                    idCountdownElement.style.display = "none";
                    idCountdown = 30;
                }
            }, 1000);
        });
    });
</script>


